@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-background:#eefbfa;
$color-primary: #0F2650;
$color-secondary: #01CFC9;
$color-third: #B7ECEA;

body {
    font-family: 'Poppins', sans-serif;
    background-color: $color-background;
}
a {
    text-decoration: none;
}
button {
    width: 30%;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #0F3A50, #617eb3);
    color: $color-secondary;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background: $color-secondary;
        color: white;

    }
}
header {
    margin-top: 30px;
    margin-left: 112px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        h3{
            color: $color-primary;
            font-size: 30px;
        }
        span {
            color: $color-secondary;
        };
    }
    nav {
        ul {
            display: flex;
            gap: 30px;
            align-items: center;
            list-style-type: none;
            li {
                cursor: pointer;
               a {
                font-size: 18px;
                color: black;
                font-weight: 400;
                position: relative;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 5px;
                        background-color: transparent;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        border-radius: 5px;
                        transition: all 0.4s;
                    }
                    &:hover::after {
                    background-color: $color-secondary;
                        transform: translateY(5px);
                    }
                }
               button {
                width: 100%;
               }
            }
        }
       

    }
    
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -70px 100px 0 100px;
    font-family: 'Poppins', sans-serif;
    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        h2 {
            font-size: 48px;
            color: $color-primary;
            span {
                color: $color-secondary;
            }
        }
        p {
            font-size: 22px;
        }
      
        .connect {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            gap: 90px;
            .connect-alt {
                display: flex;
                align-items: center;
                gap: 20px;
                .icon {
                    padding: 5px 10px;
                    background-color: $color-primary;
                    border-radius: 10px;
                  
                }

               div {
                 p {
                    font-size: 16px;
                 }
               }

            }
          
        }
    }
    .right {
        position: relative;
        .background {
            width: 550px;
            height: 550px;
            border-radius: 50px;
            background-color: $color-secondary;
            position: absolute;
            bottom: 7px;
            right: 0;
            z-index: -1;
        }
        img {
            width: 100%;
           
          
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;

    h3 {
        font-size: 24px;
        font-weight: bold;
        color: $color-secondary;
    }
    h2 {
        font-size: 48px;
        color: $color-primary;
        font-weight: bold;
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        gap: 40px;
        .card {
            width: 280px;
            height: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border: 1px solid $color-secondary;
            border-radius: 45px;
            transition: all 0.4s;
            box-shadow: 0 0 10px black;
            cursor: pointer;
            h4 {
                font-size: 22px;
                color: $color-secondary;
                font-weight: bold;
            }
            p {
               
                margin:16px 40px 45px 40px;
                text-align: center;
            }
            div {
                padding: 10px;
                background-color: $color-third;
                width: 90px;
                height: 90px;
                border-radius: 8px;
                margin: 30px auto;

                img {
                    width: 100%;
                    height: 100%;
                    place-items: center;
                }
            }
            &:hover {
                background-color: $color-primary;
                p {
                    color: white;
                }

            }
        }
    }
    button {
        width: 15%;
        margin-top: 30px;
    }
    
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 100px;
    .left {
        display: flex;
        flex-direction: column;
        gap: 10px;
       
        h3 {
            font-size: 24px;
            font-weight: bold;
            color: $color-secondary;
        }
        h2 {
            font-size: 48px;
            font-weight: bold;
            color: $color-primary;
        }
        p {
            font-size: 20px;
        }
      
       
        .hour {
            display: flex;
            align-items: center;
            gap: 10px;
            .background {
                padding: 10px;
                background-color: $color-third;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items:start;
               
                width: 100%;
                p {
                    font-size: 22px;
                    color: $color-primary;
                    font-weight: bold;
                    text-align: start;
                }
                span {
                    font-size: 16px;
                }
            }
        }
    }
    .right {
        position: relative;
        .background {
            width: 300px;
            height: 300px;
            position: absolute;
            background-color: $color-secondary;
            z-index: -1;
            bottom: 10px;
            right: 60px;
            border-radius: 50px;
        }
        img {
           width: 500px;
        }
    }
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
    .card {
        min-width: 160px;
        max-width: 250px;
        max-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid $color-secondary;
        box-shadow: 0 0 10px black;
        transition: all 0.4s;
        cursor: pointer;
        p {
            font-size: 23px;
            font-weight: bold;
            color: $color-primary;
        }
        span {
            font-size: 14px;
        }
        &:hover {
            background-color: $color-primary;
            p {
                color: white;
            }
            span {
                color: $color-secondary;
            }
          

        }
    }
}
.staff {
    margin: 40px 100px;
    h3 {
        font-size: 24px;
        color: $color-secondary;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;

    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .card {
            background-color: white;
            padding: 20px 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            margin-top: 70px;
            border-radius: 20px;
            border: 1px solid $color-secondary;
            transition: all 0.4s;
            cursor: pointer;
            box-shadow: 0 0 10px black;
            p {
                font-weight: bold;
                font-size: 22px;
                color: $color-primary;
            }
            span {
                font-size: 22px;
                font-weight: 400;
            }
            .background {
                position: relative;
                background-color: $color-third;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 90px;
                height: 80px;
                margin-top: -60px;
                img {
                    width: 90%;
                   height: 90%;
                }
            }
            &:hover {
                background-color: $color-primary;
                transform: translateY(-10px);
                p {
                    color: $color-secondary;
                }
                span {
                    color: white;
                }

            }
        }

    }
   
}

.questions {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 24px;
        color: $color-secondary;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
        margin-bottom: 30px;

    }
    button {
        width: 20%;
        margin-top: 20px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        .card {
            position: relative;
            border: 1px solid $color-secondary;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            transition: all 0.4s;
            p {
                font-size: 22px;
                color: $color-primary;
                font-weight: bold;
                margin-bottom: 10px;
            }
            span {
                font-size: 16px;
                display: inline-block;
                width: 96%;
            }
            .icons {
                position: absolute;
                top: 5px;
                right: 5px;
                .icon {
                    font-size: 20px;
                    background-color: $color-primary;
                    padding:5px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
    }
}
.comments {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 24px;
        color: $color-secondary;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
        margin-bottom: 30px;

    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border: 1px solid $color-secondary;
            padding: 10px 20px;
            gap: 10px;
            min-height: 200px;
            border-radius: 20px;
            transition: all 0.5s;
            cursor: pointer;
            p {
                text-align: center;
                font-size: 22px;
                font-weight: bold;
            }
            span {
                display: inline-block;
                text-align: center;
                font-weight: 15px;

            }

            &:hover {
                background-color: $color-primary;
                transform: translateY(-10px);
                p {
                    color: $color-secondary;
                }
                span {
                    color: white;
                }


            }
        }
    }

}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $color-primary;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    margin: 20px auto;
    h3 {
        font-size: 30px;
        color: $color-secondary;
    }
    p {
        font-size: 16px;
        color: white;
    }
    a {
        margin: 20px;
        background-color: $color-secondary;
        padding: 10px 30px;
        border-radius: 8px;
        color: white;
        transition: all 0.4s;
        font-weight: bold;
        &:hover {
            background-color: white;
            color: $color-primary;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            gap: 20px;
            width: 100%;
        
            padding: 10px 30px;
            input {
                height: 40px;
                border-radius: 5px;
                width: 300px;
                padding: 5px 10px;
            }
        }
        textarea {
            width: 600px;
            height: 100px;
            padding: 10px;
            font-family: 'poppins',sans-serif;
            border-radius: 8px;
        }
    }
}