@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-background:#eefbfa;
$color-primary: #0F2650;
$color-secondary: #01CFC9;
$color-third: #B7ECEA;

body {
    font-family: 'Poppins', sans-serif;
    background-color: $color-background;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
button {
    width: 180px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #0F3A50, #617eb3);
    color: $color-secondary;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background: $color-secondary;
        color: white;

    }
}
header {
    margin-top: 30px;
    margin-left: 112px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
        display: none;
    }
    .logo {
       img {
        width: 120px;
        height: 120px;
       }
    }
    nav {
        display: flex;
        ul {
            display: flex;
            gap: 30px;
            align-items: center;
            list-style-type: none;
            li {
                cursor: pointer;
               a {
                font-size: 18px;
                color: black;
                font-weight: 400;
                position: relative;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 5px;
                        background-color: transparent;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        border-radius: 5px;
                        transition: all 0.4s;
                    }
                    &:hover::after {
                    background-color: $color-secondary;
                        transform: translateY(5px);
                    }
                }
               button {
                width: 100%;
               }
            }
        }
       

    }
    
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    .left {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        h2 {
            font-size: 48px;
            color: $color-primary;
            width: 90%;
            span {
                color: $color-secondary;
            }
        }
        p {
            font-size: 22px;
            width: 70%;
        }
      
        .connect {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            gap: 90px;
           
            .connect-alt {
                display: flex;
                align-items: center;
                gap: 20px;
              
                .icon {
                    padding: 5px 10px;
                    background-color: $color-primary;
                    border-radius: 10px;
                }

               div {
                 p {
                    font-size: 16px;
                    width: 100%;
                 }
               }

            }
          
        }
    }
    .right {
        position: relative;
        .background {
            width: 450px;
            height: 450px;
            border-radius: 50px;
            background-color: $color-secondary;
            position: absolute;
            bottom: 6px;
            right: -9px;
            z-index: -1;
        }
        img {
            width: 100%;
           
          
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;

    h3 {
        font-size: 24px;
        font-weight: bold;
        color: $color-secondary;
    }
    h2 {
        font-size: 48px;
        color: $color-primary;
        font-weight: bold;
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px;
        gap: 30px;
        .card {
            width: 280px;
            height: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border: 1px solid $color-secondary;
            border-radius: 45px;
            transition: all 0.4s;
            box-shadow: 0 0 10px black;
            cursor: pointer;
            h4 {
                font-size: 20px;
                color: $color-secondary;
                font-weight: bold;
            }
            p {
               
                margin:16px 40px 45px 40px;
                text-align: center;
                width: 90%;
                font-size: 14px;
            }
            div {
                padding: 10px;
                background-color: $color-third;
                width: 90px;
                height: 90px;
                border-radius: 8px;
                margin: 30px auto;

                img {
                    width: 100%;
                    height: 100%;
                    place-items: center;
                }
            }
            &:hover {
                background-color: $color-primary;
                transform: translateY(-15px);
                p {
                    color: white;
                }

            }
        }
    }
    button {
       
        margin-top: 30px;
    }
    
}
.about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    .video {
        box-shadow: 0 0 10px black;
        border-radius: 10px;
    }
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 100px;
        .left {
            display: flex;
            flex-direction: column;
            gap: 10px;
           
            h3 {
                font-size: 24px;
                font-weight: bold;
                color: $color-secondary;
            }
            h2 {
                font-size: 48px;
                font-weight: bold;
                color: $color-primary;
            }
            p {
                font-size: 20px;
            }
          
           
            .hour {
                display: flex;
                align-items: center;
                gap: 10px;
                .background {
                    padding: 10px;
                    background-color: $color-third;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    align-items:start;
                   
                    width: 100%;
                    p {
                        font-size: 22px;
                        color: $color-primary;
                        font-weight: bold;
                        text-align: start;
                    }
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
        .right {
            position: relative;
            .background {
                width: 300px;
                height: 300px;
                position: absolute;
                background-color: $color-secondary;
                z-index: -1;
                bottom: 10px;
                right: 60px;
                border-radius: 50px;
            }
            img {
               width: 500px;
            }
        }
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
    .card {
        min-width: 160px;
        max-width: 250px;
        max-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid $color-secondary;
        box-shadow: 0 0 10px black;
        transition: all 0.4s;
        cursor: pointer;
        p {
            font-size: 23px;
            font-weight: bold;
            color: $color-primary;
        }
        span {
            font-size: 14px;
        }
        &:hover {
            background-color: $color-primary;
            p {
                color: white;
            }
            span {
                color: $color-secondary;
            }
          

        }
    }
}
.staff {
    margin: 40px 100px;
    h3 {
        font-size: 24px;
        color: $color-secondary;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;

    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .card {
            background-color: white;
            padding: 20px 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            margin-top: 70px;
            border-radius: 20px;
            border: 1px solid $color-secondary;
            transition: all 0.4s;
            cursor: pointer;
            box-shadow: 0 0 10px black;
            p {
                font-weight: bold;
                font-size: 22px;
                color: $color-primary;
            }
            span {
                font-size: 22px;
                font-weight: 400;
            }
            .background {
                position: relative;
                background-color: $color-third;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 90px;
                height: 80px;
                margin-top: -60px;
                img {
                    width: 60%;
                   height: 90%;
                }
            }
            &:hover {
                background-color: $color-primary;
                transform: translateY(-10px);
                p {
                    color: $color-secondary;
                }
                span {
                    color: white;
                }

            }
        }

    }
   
}

.questions {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 24px;
        color: $color-secondary;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
        margin-bottom: 30px;

    }
    button {
        width: 20%;
        margin-top: 20px;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        .card {
            position: relative;
            border: 1px solid $color-secondary;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            transition: all 0.4s;
            p {
                font-size: 22px;
                color: $color-primary;
                font-weight: bold;
                margin-bottom: 10px;
            }
            span {
                font-size: 16px;
                display: inline-block;
                width: 96%;
            }
            .icons {
                position: absolute;
                top: 5px;
                right: 5px;
                .icon {
                    font-size: 20px;
                    background-color: $color-primary;
                    padding:5px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
        }
    }
}
.comments {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 24px;
        color: $color-secondary;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        font-weight: bold;
        color: $color-primary;
        text-align: center;
        margin-bottom: 30px;

    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border: 1px solid $color-secondary;
            padding: 10px 20px;
            gap: 10px;
            min-height: 200px;
            border-radius: 20px;
            transition: all 0.5s;
            cursor: pointer;
            p {
                text-align: center;
                font-size: 22px;
                font-weight: bold;
            }
            span {
                display: inline-block;
                text-align: center;
                font-weight: 15px;

            }

            &:hover {
                background-color: $color-primary;
                transform: translateY(-10px);
                p {
                    color: $color-secondary;
                }
                span {
                    color: white;
                }


            }
        }
    }

}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $color-primary;
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    margin: 20px auto;
    h3 {
        font-size: 30px;
        color: $color-secondary;
    }
    p {
        font-size: 16px;
        color: white;
    }
    a {
        margin: 20px;
        background-color: $color-secondary;
        padding: 10px 30px;
        border-radius: 8px;
        color: white;
        transition: all 0.4s;
        font-weight: bold;
        &:hover {
            background-color: white;
            color: $color-primary;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            gap: 20px;
            width: 100%;
        
            padding: 10px 30px;
            input {
                height: 40px;
                border-radius: 5px;
                width: 300px;
                padding: 5px 10px;
            }
        }
        textarea {
            width: 600px;
            height: 100px;
            padding: 10px;
            font-family: 'poppins',sans-serif;
            border-radius: 8px;
        }
    }
}
footer {
    background-color: $color-third;
    display: flex;
    justify-content: space-around;
    padding: 30px;
  
    .info {
        font-size: 14px;
        a { 
            cursor: pointer;
            color: $color-secondary;
        }
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p {
            width: 60%;
        }

        .logo {
            h3{
                color: $color-primary;
                font-size: 30px;
            }
            span {
                color: $color-secondary;
            };
        }
        .socials {
            display: flex;
            align-items: center;
            margin: 20px;
            gap: 10px;
            div {
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.4s;

                &:hover {
                    background-color: $color-primary;
                    transform: translateY(-5px);
                }
            }
        }

    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3 {
            color: $color-primary;
            font-size: 22px;
            font-weight: bold;
        }
        div {
            display: flex;
            align-items: center;
            gap: 10px;

        }
    }


}

//tablet
@media only screen and (max-width: 800px) { 
    button {
        width: 120px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 13px;
    }
    header {
        margin: 10px;
        justify-content: space-around;
        .logo {
          img {
            width: 80px;
            height: 80px;
          }
        }
        nav {
            ul {
                gap: 10px;
                li {
                   a {
                    font-size: 15px;
                    }
                }
            }
           
    
        }

    }
    .banner {
        margin: 15px;
        .left {
            width: 60%;
            gap: 10px;
            h2 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
          
            .connect {
                gap: 40px;
                .connect-alt {
                    gap: 10px;
                    .icon {
                        padding: 2px 5px;
                    }
    
                   div {
                     p {
                        font-size: 14px;
                     }
                   }
    
                }
              
            }
        }
        .right {
            position: relative;
            .background {
                width: 250px;
                height: 250px;
                border-radius: 30px;
               left: 0;
            }
            img {
                width: 70%;
            }
        }
    }
    .services {
        margin-top: 60px;
        margin-bottom: 30px;
    
        h3 {
            font-size: 18px;
        }
        h2 {
            font-size: 30px;
        }
        .cards {
            flex-wrap: wrap;
            .card {
                width: 230px;
                height: 230px;
                border-radius: 35px;
                justify-content: space-around;
                h4 {
                    font-size: 18px;
                }
                p {
                    text-align: center;
                    font-size: 15px;
                }
                div {
                    width: 60px;
                    height: 60px;
                    margin: 10px auto;
                }
            }
        }
        
    }
   .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about {
        flex-direction: column;
        margin: 30px 20px;

        .left {
           gap: 5px;
           align-items: center;
            h3 {
                font-size: 20px;
            }
            h2 {
                font-size: 30px;
            }
            p {
                font-size: 17px;
            }
          
            .hour {
                gap: 5px;
                width: 100%;
                .background {
                    padding: 10px;
                }
                .info {
                    width: 80%;
                    p {
                        font-size: 18px;
                    }
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
        .right {
          display: none;
        }
     
    }
    .video {
        width: 95%;
        margin: 10px;
       
      }

   } 
   .staff {
    margin: 20px 50px;
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    .cards {
      flex-wrap: wrap;

    }
   
}

.questions {
    margin: 50px;
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 20px;

    }
    .cards {
        .card {
            p {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
           
        }
    }
}

.comments {
    margin: 50px;
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 10px;

    }
    .cards {
        gap: 10px;
        .card {
            width: 100%;
            height: 300px;
            padding: 10px;
            gap: 10px;
            min-height: 200px;
            border-radius: 10px;
        }
    }

}

.contact {
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
    h3 {
        font-size: 25px;
    }
}

}

//telefon
@media only screen and (max-width: 580px) {
    button {
        width: 100px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 13px;
    }
    header {
        margin: 10px;
        justify-content: space-between;
        .logo {
          img {
            width: 60px;
            height: 60px;
          }
        }
        nav {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            .menu {
                display: inline-block;
                font-size: 24px;
                cursor: pointer;

            }
            ul {
               position: absolute;
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               top: 30px;
               background-color: $color-primary;
               height: 90vh;
               padding: 0 40px;
               z-index: 10;
               right: -250px;
               border-radius: 20px;
               transition: all 0.5s;
              li {
                a{
                    color: white;
                }
                
              }
            }
            ul.show {
                right: 10px;
            }
           
    
        }

    }
    .banner {
        margin: 15px;
        flex-direction:column;
        .left {
            width: 100%;
            gap: 5px;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 30px; 
                text-align: center;
             
            }
            p {
                font-size: 16px;
                width: 100%;
            }
            button {
                width: 150px;
                padding: 10px;
                text-align: center;
                margin: 20px;

            }
          
            .connect {
                justify-content: space-around;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            position: relative;
            .background {
                width: 240px;
                height: 240px;
               left: -30px;
               bottom: 0;
              transform: translateX(50%);
            }
            img {
                width: 60%;
            }
        }
    }
    .services {
        h3 {
            font-size: 18px;
        }
        h2 {
            font-size: 30px;
        }
        .cards {
           margin: 10px 20px;
            .card {
                width: 200px;
                height: 200px;
                h4 {
                    font-size: 16px;
                }
                p {
                    font-size: 13px;
                    width: 100%;
                } 
            }
        }
        button {
            width: 150px;
            padding: 10px;
        }
        
    }
    .about-container {
        .about {
            .left {
                p {
                    font-size: 15px;
                    text-align: center;
                }
            }
         
        }
        .video {
            height: 300px;
           
          }
    
    } 
    .info {
       flex-wrap: wrap;
       gap: 10px;
        .card {
            min-width: 160px;
            max-width: 200px;
            max-height: 80px;
            padding:10px;
            margin-bottom: 20px;
            p {
                font-size: 18px;
            }
            span {
                font-size: 12px;
            }
        }
    }
    .staff {
        margin: 20px;
        .cards {
          flex-wrap: wrap;
          .card {
            width: 70%;
          }
    
        }
       
    }
    .questions {
        h2 {
            font-size: 25px;
        }
        button {
            width: 120px;
            padding: 10px;
        }
        .cards {
            .card {
                padding: 10px;
                p {
                    font-size: 16px;
                }
                span {
                    font-size: 12px;
                    text-align: center;
                }
                .icons {
                    top: 2px;
                    right: 2px;
                    .icon {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .comments {
        margin: 30px;
        h2 {
            font-size: 25px;
        }
        .cards {
            flex-wrap: wrap;
            .card {
                height: 200px;
            }
        }
    
    }
    .contact {
        gap: 5px;
        padding: 10px;
        width: 96%;
        h3 {
            font-size: 25px;

        }
        p {
            font-size: 16px;
            text-align: center;
        }
        a {
            margin: 10px;
            padding: 5px 15px;
        }
        form {
            div {
             flex-wrap: wrap;
             align-items: center;
                input {
                    width: 100%;
                }
            }
            textarea {
                width: 90%;
                height: 100px;
            }
        }
    }
    footer {
        padding: 15px;
        flex-direction: column;
        .left {
            p {
                width: 90%;
                font-size: 13px;
            }
    
            .logo {
                h3{
                    font-size: 20px;
                }
            }
            .socials {
                justify-content: center;
                margin: 10px;
                gap: 30px;
            }
    
        }
        .right {
            h3 {
                font-size: 18px;
             
            }
            div {
                .icon {
                    font-size: 15px !important;
                }
               span {
                font-size: 12px;
               }
    
            }
        }
    
    
    }

}